{% extends 'security/base.security.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm">
        <div class="card p-3 rounded-lg bg-light">
            <form action="{{path('registration')}}" method="POST">
                {{ form_start(form) }}
                    {{ form_row(form.username, { 'label': 'Username' }) }}
                    {{ form_row(form.email, { 'label': 'Email address' }) }}
                    {{ form_row(form.password, { 'label': 'Password' }) }}
                    {{ form_row(form.validationPassword, { 'label': 'Validation password' }) }}
                    {{ form_rest(form) }}
                    <input type="submit" class="btn btn-primary" value="Login"/>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
    <div class="col-sm"></div>
</div>
{% endblock %}