<div class="card" style="margin-bottom:10px;">
    {% if asset.thumbnailFilename %}
        <img class="card-img-top" src="{{asset('uploads/thumbnails/'~ asset.thumbnailFilename) | imagine_filter('asset')}}" alt="Image of {{asset.title}}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{asset.title}} <small>by <img src="https://cdn.discordapp.com/avatars/{{asset.author.discordId}}/{{asset.author.avatar}}.png" width="30" height="30" class="d-inline-block align-top rounded-circle border border-secondary" alt="" loading="lazy"> <a href="{{ path('user_show', {'id': asset.author.id}) }}">{{asset.author.username}}</a></small></h5>
        <p class="card-text">{{asset.comment | u.truncate(200, '...')}}</p>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <a href="{{ path('asset_show', {'id': asset.id}) }}" class='btn btn-secondary'>Show</a>
            {% if app.user == asset.author or is_granted('ROLE_ADMIN') %}
                <a href="{{asset('uploads/assets/'~ asset.assetFilename)}}" class="btn btn-primary" target="_blank">{# <i class="fas fa-download"></i> #}Download</a>
            {% endif %}
        </div>
    </div>
</div>