{% extends 'dashboard/base.dashboard.html.twig' %}

{% block subtitle %}Asset{% endblock %}

{% block body_dashboard %}
<h2>Adding a new asset</h2>
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.comment) }}
    {{ form_row(form.thumbnail) }}
    {{ form_row(form.asset) }}
    {{ form_row(form.submit, { 'label': 'Submit me', 'attr': {'class': 'btn btn-primary'} }) }}
{{ form_end(form) }}
<hr/>
<div class="alert alert-info" role="alert">
    By submitting this asset, I agree to allow The Tardis Team to use my assets/submission in their project(s)
</div>
{% endblock %}
{% block javascripts %}
<script>
    let handleFileName = function (e, id){
        var fileName = document.getElementById(id).files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName
    }

    document.getElementById('asset_thumbnail').addEventListener('change', e => handleFileName(e, "asset_thumbnail"));
    document.getElementById('asset_asset').addEventListener('change', e => handleFileName(e, "asset_asset"));

</script>
{% endblock %}
