{% extends 'base.html.twig' %}

{% block title %}User | {{user.username}}{% endblock %}

{% block body %}
<div class="container-fluid mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{path('user_index')}}">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ user.username }}</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-3">
            <div class="bg-light rounded p-3 mb-2">
                <img class="border border-secondary img-fluid mx-auto d-block rounded-circle avatar mb-1" src="{{avatar(user)}}" style="min-width: 200px;"/>
                <h4 class="text-center text-wrap">{{user.username}} {% if "ROLE_ADMIN" in user.roles %}<div class="badge badge-primary">Admin</div>{% endif %}{% if user.banned %}<div class="badge badge-danger">Banned</div>{% endif %}</h4>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item bg-light"><b>{{user.assets|length }}</b> {% if user.assets|length > 1 %}assets{% else %}asset{% endif %} submitted</li>
                    <li class="list-group-item bg-light">{{random(['Amazing!', 'Talented!', 'A beautiful person!'])}}</li>
                </ul>
            </div>
            {% if is_granted('ROLE_ADMIN') and "ROLE_ADMIN" in user.roles == false %}
                {% if user.banned %}
                    {{ include('user/_unban_form.html.twig') }}
                {% else %}
                    {{ include('user/_ban_form.html.twig') }}
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-9">
            {% include "asset/assets.cards.html.twig" %}
        </div>
    </div>    
</div>
{% endblock %}
