{% extends 'base.html.twig' %}

{% block title %}Home | User | {{user.username}}{% endblock %}

{% block body %}
<div class="container-fluid mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {# <li class="breadcrumb-item"><a href="{{path('user_index')}}">Users</a></li> #}
            <li class="breadcrumb-item"><a href="#">Users</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ user.username }}</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-2">
            <div class="bg-light rounded p-3">
                <img class="img-thumbnail mx-auto d-block rounded-circle" src="https://cdn.discordapp.com/avatars/{{user.discordId}}/{{user.avatar}}.png"/>
                <h4 class="text-center text-wrap">{{user.username}} {% if "ROLE_ADMIN" in user.roles %}<div class="badge badge-primary">Admin</div>{% endif %}</h4>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item bg-light"><b>{{user.assets|length }}</b> {% if user.assets|length > 1 %}assets{% else %}asset{% endif %} submitted</li>
                    <li class="list-group-item bg-light">{{random(['Amazing!', 'Talented!', 'A beautiful person!'])}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            {% include "asset/assets.cards.html.twig" %}
        </div>
    </div>    
</div>
{% endblock %}
